<div class="form">
<%= form_with model: [@user, @group] do |form| %>

  <div>
    <%= form.text_field :name, placeholder: "Expense Category Name" %>
  </div>

  <div>
    <%= form.text_field :icon, placeholder: "Expense Category Icon" %>
  </div>
  <div>
    <%= form.submit("Create Category") %>
  </div>
<% end %>
</div>
