<div id="<%= dom_id expenditure %>">

<div class="expense-display">
<div class="expense-list row">
  <h4 class="expense-name col-6"><%= expenditure.name %></h4>
  <h4 class="expense-amount col-6"><%= number_to_currency(expenditure.amount) %></h4> 
   <span class="group-edit">
   <%= link_to "Edit Expense", edit_user_expenditure_path(id: expenditure.id, user_id: expenditure.user_id) %></span>

</div>
</div>
</div>