/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: proxima-nova, sans-serif;
  overflow: hidden;
}

.header-div {
  display: flex;
  justify-content: center;
  background-color: #03264e;
}

.header-div h1 {
  font-size: 50px;
  text-shadow: 2px 2px 4px #000;
  color: #fff;
}

.container,
#expenditures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #03264e !important;
}

.group-display,
.expense-display {
  margin-bottom: 2%;
  border: solid 3px rgb(223, 222, 222);
  background-color: rgb(223, 222, 222);
  padding: 0.5%;
}

.group-display img {
  width: 10rem;
  height: 8rem;
}


.group-name {
  padding: 5% 0 0 0;
}

.group-name a {
  text-decoration: none;
  font-size: 24px;
  color: #03264e;
  text-transform: capitalize;
}

.date {
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  font-weight: bold;
}

.group-amount {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  padding: 5%;
}

.group-span {
  display: flex;
  justify-content: flex-end;
  padding: 0 2%;
}

.group-edit {
  padding: 0 2%;
  font-size: 20px;
}

.group-edit a {
  text-decoration: none;
  color: #03264e;
  font-style: italic;
  font-weight: bold;
}

.group-del button {
  border: none;
  background-color: #03264e;
  color: #fff;
  font-style: italic;
  font-weight: bold;
}

.new-form {
  display: flex;
  justify-content: center;
  padding: 2% 0;
  background-color: #03264e;
}

.new-form span {
  padding: 1% 30%;
}

.signin a {
  color: white;
}

.form-span a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
}

.user a {
  text-decoration: none;
}

.sign-link a {
  text-decoration: none;
}

.new-form span a {
  color: white;
  text-decoration: none;
}

.expense-amount {
  padding: 0 5% 0 0;
  display: flex;
  justify-content: flex-end;
}

.total {
  padding: 0 5% 2% 5%;
  font-size: 18px;
  font-weight: bold;
}

.h3-two {
  display: flex;
  justify-content: flex-end;
}

.form {
  display: flex;
  justify-content: center;
}

.form form {
  padding: 5%;
  border: solid 3px rgb(223, 222, 222);
}

.form form input,
.form form select {
  width: 24rem;
  height: 4rem;
  margin: 0.5% 0;
  border: solid 3px rgb(223, 222, 222);
  font-size: 18px;
}

.form form input[type="submit"] {
  background-color: #03264e;
  color: white;
  width: 24.5rem;
}

.user-head {
  background: url("https://res.cloudinary.com/wonderwoman/image/upload/v1672039696/myportfolio/kamzzy-budget/Budget-transformed_1_gkz8ya.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  padding: 10%;
  border: solid 3px #03264e;
  border-radius: 20% 0;
}

.appname {
  text-align: center;
  padding: 5rem 0;
  font-size: 100px;
  font-weight: 600;
  color: #03264e;
}

.signin {
  background-color: #03264e;
  text-align: center;
  font-size: 28px;
  padding: 2% 0;
  margin-top: 5%;
}

.signout {
  text-align: center;
  font-size: 28px;
  padding: 2% 0;
  background-color: #fff;
  margin-top: 5%;
}

.signout a {
  color: #03264e;
}

.navbar {
  background-color: #03264e;
  padding: 2% 5%;
}

.container-fluid a {
  color: #fff !important;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 5%;
}

.navbar a {
  text-decoration: none;
}

.dropdown-menu {
  background-color: #03264e;
}

.navbar-toggler {
  background-color: #fff;
}

.profile-signout {
  background-color: transparent;
  border: none;
  padding: 1rem;
  color: #fff;
}

.profile li:hover {
  background-color: #fff !important;
}
.profile li a:hover,
.profile li button:hover {
  color: #03264e !important;
  background-color: #fff !important;
}

.group-del {
  display: flex;
  justify-content: flex-end;
}